.jumbotron{
  background-color  :#ED4C67;
  color: white;
  padding: 100px 0px;
  text-align: center;
} 



 .heading{
  font-size: 100px;
}

.brand-icon{
  position: relative;
  top: 8px;
  font-size: 90px;
}

.input-group{
  width: 70%;
  margin: 0px auto;
}

.search-btn{
  margin: 5px;
  background-color: #ff7f7f;
}

.font-weight-bold{
  font-size: larger;
  font-weight: 500;
}